* {
    margin: 2vh;
    padding: 0px;
    x-overflow: hidden;
}

.PlanetImg {
    width: 50vh;
    x-overflow: hidden;
}

body {
    display: flex;
    justify-content: center;
    x-overflow: hidden;
}

#container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    x-overflow: hidden;
}

.p {
    display: flex;
    justify-content: center;
    x-overflow: hidden;
}
