* {
    margin: 2vh;
    padding: 0px;
}

.PlanetImg {
    width: 50vh;
}

body {
    display: flex;
    justify-content: center;
}

#container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.p {
    display: flex;
    justify-content: center;
}
